	<h1 class="w100 text-center">[ TASER ]</h1>
	<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form action="#">
						<p><input type="text" id="search" placeholder="Type in your [ TASER ] Tag Now!" class="form-control" /</p>
						<p><input type="submit" value="GO [ TASER ] GO!" class="form-control btn btn-success w100"></p>
				</form>
					<div class="results"></div>
			</div>			
	</div>
