<iframe id="player" type="text/html" width="640" height="390"
  src="https://www.youtube.com/watch?v=UU-pFYZcs_M?enablejsapi=1&origin=locahost:3000"
  frameborder="0"></iframe>

<!-- <div class="item">
    <h2>{{title}}</h2>
    <iframe class="video w100" width="640" height="360" src="//www.youtube.com/embed/{{videoid}}" frameborder="0" allowfullscreen></iframe>
</div> -->